* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Roboto', sans-serif;
}




nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 75px 30px 75px;
    flex-direction: row-reverse;


}

.nav-links {
    display: flex;
    gap: 42px;
    align-items: center;
    font-family: var(--font-family);
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {  
    color: #a7b0e0;
    font-weight: 700;
    font-size: 18px;

}

.contact-button {
    font-family: roboto;
    color: black;
    background: #5da0c970;
    border-radius: 14px;
    border: none;
    padding: 9px 20px 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.contact-button:hover{
    background: #a7b0e0;
}
header {

    padding: 60px 0px;
    background-size: cover;
    background-image: url('../Asset/Img/imgbackground.png');
    display: flex;
    justify-content: flex-start;
    background-position: center;
    align-items: center;

}


.image-container {

    justify-content: center;
    display: flex;
    align-items: center;

}

.image-container img {
    min-width: 100%;

}

.text-content {
    width: 100%;
    padding: 0 0 0 75px;
}

.text-content h2 {
    font-family: roboto;
    font-weight: 700;
    font-size: 54px;
    line-height: 48px;
    margin-bottom: 10px;
}

.text-content span {
    color: #488b79;
    font-family: var(--font-family);
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
}

.text-content h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}


.title {
    justify-content: center;
    display: grid;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    padding: 80px 0px 64px 0px;
}

.title span {
    color: #4f488b;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.project-gallery {
    display: flex;
    gap: 16px;
    padding: 0px 80px 20px 80px;
    font-family: var(--font-family);
}

.project-gallery article {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.project-gallery p {
    text-align: center;
}

.container {
    display: flex;
    gap: 16px;
    padding: 90px 108px 2px 69px;

}

.chat-container {
    background: white;
    border-radius: 11px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
    width: 50%;

    margin: 0 auto;

}

.chat-container .text-content {
    padding: 30px;

}

.help-section {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.icon-help {
    width: 40px;
    height: 40px;
}

.icon-user1 {
    width: 41px;
    height: 35px;
    transform: scaleX(-1);
}

.help-section p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
}

.chat-ayuda1 {
    padding: 0px 53px 0px 30px;
}

.chat-ayuda1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    max-width: 494px;
    background: #A1A0A0;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
}

.icon-user {
    display: flex;
    justify-content: end;

}

.chat-ayuda2 {
    padding: 0px 53px 0px 30px;
    display: flex;
    justify-content: end;
}

.chat-ayuda2 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    max-width: 494px;
    background: #A1A0A0;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}



.barra-container {
    padding: 30px;
}

.content-barra {
    display: flex;
    gap: 30px;

}

.barra {
    background: #A1A0A0;
    width: 500px;
    border-radius: 10px;
    padding: 4px 0px 6px 13px;
    align-items: center;
}

.image-container {
    min-width: 100px;
}

.slider-margin {
    width: 100%;
        max-width: 1410px;
    margin: 0 auto;
    padding: 43px 16px 34px 16px;
    box-sizing: border-box;
    overflow-x: auto;
    position: relative;
}

.slider-divicion {
    display: flex;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.slider {
    flex: 1 0 300px;
    max-width: 100%;
    background: #00000040 25%;
    border-radius: 26px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.slider-container {
padding: 17px 10px 0px 19px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
    font-family: var(--font-family);
}

.slider-item {
    background:#b9dcea9e;
    border-radius: 10px;
    padding: 10px;
}

.text-title{
    text-align: center;
    padding: 10px;
    font-family: var(--font-family);
     font-size: 22px;
    font-size: 20px;
}

.text-title span{
    font-weight: 500; 
}

.list-description{
        padding: 10px 0px 24px 32px;
}

.list-description p{
    padding: 10px 0px;
      font-size: 20px;
    font-family: var(--font-family);
    font-weight: 200;
}

.list-description li {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 16px;
    padding-left: 0px; 
}

.button-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button-slider{
    font-family: var(--font-family);
   text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 10px;
    background: #c5adc5;
    border-radius: 10px;

}

.slider img,
.slider-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 16px; 
}

.form-container{
    max-width: 100%;
    padding: 39px 90px 112px 90px;
    font-family: var(--font-family);
    background: linear-gradient( #f5f5f5 20%, #b3effa 70%, #ffffff 100%);

}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario legend{
    display: flex;
flex-direction: column;
   text-align: center;
   padding: 40px;
   font-family: var(--font-family);
   font-size: 32px;
}

.formulario  span{
    color: #ac4b97;
     font-size: 32px;

}

.form-columna {
   display: flex;
   justify-content: space-evenly;
   
       padding: 40px;
   
}
.form-columna1{
    flex-direction: column;
   width: 100%;
   margin-left: 20px;
    align-items: flex-start;
    display: flex;
}

.form-columna2{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}


.form-columna label{
    display: none;
}

.form-columna input{
  border-radius: 15px;
  width: 500px;
  height: 35px;
  border: none;
  border-bottom: 2px solid #4f488b;
  padding: 4px 20px;
  margin-bottom: 20px;
}

textarea{
  border-radius: 15px;
  width: 500px;
    height: 91px;
    border: none;
    border-bottom: 2px solid #4f488b;
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 200;
}
 

.form-columna placeholder{  
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 200;
}

.container-footer{
    display: flex;
    flex-direction: column;
    background-color: #697077;
}

.footer-content{
    display: flex;
    justify-content: space-between;
        padding: 48px 80px 0px;
    

}

.contact-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.redes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.copyright{
    text-align: center;
    font-family: var(--font-family);
    padding: 0px 40px 48px;;
}

.line{
    border-bottom: 1px solid #ccc;
    margin: 30px 36px;
}
